* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

/* common */

ul {
    list-style: none;
}

.name {
    font-size: 0.8em;
}

i {
    color: #999999;
    margin: 5px;
}

.round {
    border-radius: 50%;
}


/* containers */
.container {
    position: relative;
}

.bg-green {
    height: 20vh;
    background-color: #009688;
}

.bg-grey {
    height: 80vh;
    background-color: #D9DBD5;
}

.sub-container {
    height: 90%;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: lightpink;
    display: flex;
}


/* header */
/* user */
.side-header {
    background-color: tomato;
    width: 30%;
    min-width: 400px;
}

.user-img {
    width: 45px;
    overflow: hidden;
    margin-right: 5px;
}

.user-img img{
    width: 100%;
}

.grey-header {
    height: 60px;
    background-color: #EAEAEA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.user-info {
    display: flex;
    align-items: center;
}

/* notifications */
.notifications {
    height: 60px;
    background-color: #8EDAFC;
    display: flex;
    align-items: center;
}

.notifications .round{
    background-color: white;
    margin-left: 10px;
    width: 2.5em;
    height: 2.5em;
    line-height: 2.5em;
    text-align: center;
}

.notifications .round i{
    color: #8EDAFC;
}

.notifications .notif-text {
    margin-left: 10px;
}
.notifications .notif-title {
    font-size: 0.8em;
}
.notifications .notif-toggle {
    font-size: 0.7em;
    color: #4F7485;
}




/* main */
main {
    background-color: mediumpurple;
    width: 70%;
}






