* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}


/* containers */
.container {
    position: relative;
}

.bg-green {
    height: 20vh;
    background-color: #009688;
}

.bg-grey {
    height: 80vh;
    background-color: #D9DBD5;
}

.sub-container {
    height: 90%;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: lightpink;
    display: flex;
}


/* header */
header {
    background-color: lightskyblue;
    width: 30%;
    min-width: 400px;
}


/* main */
main {
    background-color: mediumpurple;
    width: 70%;
}






