* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

body {
    min-width: 1050px;
}

/* common */

ul {
    list-style: none;
}

.name {
    font-size: 0.8em;
}

i {
    color: #999999;
    margin: 5px;
}

.round {
    border-radius: 50%;
    overflow: hidden;
}

.grey-bar {
    height: 60px;
    background-color: #EAEAEA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

/* containers */
.container {
    position: relative;
}

.bg-green {
    height: 20vh;
    background-color: #009688;
}

.bg-grey {
    height: 80vh;
    background-color: #D9DBD5;
}

.sub-container {
    height: 90%;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}


/* header */
/* user */
.side-header {
    width: 30%;
    min-width: 350px;
}

.user-img {
    width: 45px;
    height: 45px;
    margin-right: 5px;
}

.user-img img{
    width: 100%;
}


.user-info {
    display: flex;
    align-items: center;
}

/* notifications */
.notifications {
    height: 60px;
    background-color: #8EDAFC;
    display: flex;
    align-items: center;
}

.notifications .round{
    background-color: white;
    margin-left: 10px;
    width: 2.5em;
    height: 2.5em;
    line-height: 2.5em;
    text-align: center;
}

.notifications .round i{
    color: #8EDAFC;
}

.notifications .notif-text {
    margin-left: 10px;
}
.notifications .notif-title {
    font-size: 0.8em;
}
.notifications .notif-toggle {
    font-size: 0.7em;
    color: #4F7485;
}

/* contacts */
/* search-bar */
nav {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F6F6F6;
}

nav .search-bar {
    background-color: white;
    width: 100%;
    margin: 5px;
}

nav .search-bar i{
    width: 10%;
    text-align: center;
}

nav .search-bar input {
    border: none;
    width: 80%;
    padding: 10px;
}

/* contacts-list */

.contacts{
    background-color: #F6F6F6;
    height: calc(100% - 160px);
}

.contacts-window {
    border-right: 1px solid lightgray;
    overflow-y: auto;
    margin-right: 10px;
}

.contacts-list .friend-contact {
    display: flex;
    background-color: white;
    padding: 10px;
    cursor: pointer;
}

.contacts-list .friend-contact:not(:last-child) {
    border-bottom: 1px solid lightgray;
}

.contacts-list .left-pic {
    width: 15%;
}
.contacts-list .friend-contact img {
    width: 100%;
}

.center-contact-text {
    margin: 0 10px;
    width: 45%;
}

.center-contact-text .text-preview  {
    font-size: 0.7em;
    color: #999999;
}

.right-date{
    width: 40%;
    text-align: right;
}
.right-date .date-detail  {
    font-size: 0.7em;
    color: #999999;
}


/* main */
main {
    background-color: mediumpurple;
    width: 70%;
}

/* top */
.contact-bar {
    border-left: 1px solid lightgray;
    padding: 10px;
}

.left-bar {
    display: flex;
    align-items: center;
}

.contact-pic {
    width: 45px;
    height: 45px;
    margin-right: 5px;
}

.contact-pic img {
    width: 100%;
}

.contact-details h2{
    font-size: 0.8em;
    margin-bottom: 3px;
}

.contact-details h3{
    font-size: 0.7em;
    color: grey;
}

/* chat window */
.chat-window {
    background-image: url("../img/mine.jpg");
    height: calc(100% - 120px);
    overflow-y: auto;
}

.chat {
    width: 80%;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
}

.message {
    border-radius: 10px;
    padding: 10px;
    font-size: 0.8em;
    display: flex;
    flex-direction: column;
    min-width: 250px;
    margin: 5px;
    position: relative;
}

.message.received {
    background-color: white;
    align-self: flex-start;
}

.message.sent {
    background-color: #D5F9BA;
    align-self: flex-end;
}

.message .text {
    align-self: flex-start;
    font-weight: bold;
    padding: 2px;
}

.message .date {
    align-self: flex-end;
    justify-content: flex-end;
    color: grey;
    font-size: 0.8em;
}

.fa-chevron-down {
    align-self: flex-end;
    justify-content: flex-end;
    color: grey;
    font-size: 0.8em;
}

.fa-chevron-down:hover, 
.fa-chevron-down:active, 
.fa-chevron-down:focus {
    cursor: pointer;
}

.drop-menu {
    position: absolute;
    top: 90%;
    right: 10%;
    background-color: rgb(243, 243, 243);
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
}

.drop-menu div {
    margin: 10px;
}

/* message bar */
.message-bar {
    display: flex;
    justify-content: space-between;
    text-align: center;    
}

.message-bar .text {
    width: 80%;
}

.message-bar i{
    width: 10%;
    color: rgb(85, 85, 85);
}

input.text {
    width: 100%;
    height: 80%;
    border: none;
    border-radius: 5px;
    padding: 10px;
}




